@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Weather Monitor App
        @if (Model.appVersion != "production") {<code>@Model.appVersion</code>}
    </h1>
    <p>Welcome to the Weather Monitor Aoo.</p>
</div>


