@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Weather Monitor App
        <code>@Model.appVersion</code> Version
    </h1>
    <p>Welcome to the Weather Monitor App.</p>
</div>


